body{
}

.ola{


	color: blue;
}

#niver{

	color: pink;
}

.paragraf{

	font-size: 16px;
	color: black;
	width: 200px;
	text-align: justify;
	font-family: arial;
	font-weight: bold;]
	line-height: 30px;
	align-content: center;

}

.imbagem{

	filter: hue-rotate(100deg);
	transform: rotate(45deg);
}

div{
	color: red; 	 	
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: red;
}

a:link{
	color: red;
}

a:visited{
	color: yellow;
}